
/* here if you change the bg color of bg-primary then it won't change the color because it's !important. So to impletent customised color then yu have to put this in !important */

.panda-bg-primary{
    background-color: rgb(247, 217, 222) !important;
}

.categories img{

    width: 100px;
}

.panda-btn{
    
    background: linear-gradient(to bottom, rgb(253, 148, 148) 0%,  rgb(225, 24, 115) 100%);

    
}